@import "../../../theme/theme.scss";

.input {
  font-size: 14px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 9px 20px;
  margin-bottom: 30px;
  width: 100%;
  background: transparent;
  line-height: 28px;
  @include themed {
    color: c("iv");
  }
}